<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta name="yandex-verification" content="e64830436df8ac08" />
<meta name="msvalidate.01" content="988CA8954E926859866B824A45159DA3" />
	

	
<link rel="icon" href="{{ site.baseurl }}/assets/images/logo.png">

<title>{{site.name}}</title>

	

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<link href="{{ site.baseurl }}/assets/css/screen.css" rel="stylesheet">

<link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">

<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>

<style>
  .spo {
    height: 1px;
    overflow: auto;
    width: 100%;
  }
</style>
	
</head>



{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{layout}}">
	<!-- defer loading of font and font awesome -->
	<noscript id="deferred-styles">
		<link href="https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	</noscript>


<!-- Begin Menu Navigation
================================================== -->
<div class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

    <div class="container pr-0">

    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMediumish">

        <!-- Begin Menu -->

            <ul class="navbar-nav ml-auto">

                {% if page.url == "/" %}
                <li class="nav-item active">
                {% else %}
                <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="{{ site.baseurl }}/index.html">Blog</a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="{{ site.baseurl }}/about/">About</a>
                </li>

                <li class="nav-item">
                <a target="_blank" class="nav-link" href="/privacy-policy/"> Privacy Policy</a>
                </li>
<li class="nav-item">
                <a target="_blank" class="nav-link" href="/terms-and-conditions/"> Terms and Conditions</a>
                </li>
                

                

                

                {% include search-lunr.html %}

            </ul>

        <!-- End Menu -->

    </div>

    </div>
</div>
<!-- End Navigation
================================================== -->

<div class="site-content">

<div class="container">

<!-- Site Title
================================================== -->
<!--<div class="mainheading">
    <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
        {{ site.description }}
    </p>
</div>-->

<!-- Content
================================================== -->
<div class="main-content">
    {{ content }}
</div>


<!-- Bottom Alert Bar
================================================== -->

	

<!-- Categories Jumbotron
================================================== -->


<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

</div> <!-- /.site-content -->

<!-- Scripts
================================================== -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

<script src="{{ site.baseurl }}/assets/js/mediumish.js"></script>

{% if site.lazyimages == "enabled" %}
<script src="{{ site.baseurl }}/assets/js/lazyload.js"></script>
{% endif %}

<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script> 

{% if page.layout == 'post' %}
<script id="dsq-count-scr" src="//{{site.disqus}}.disqus.com/count.js"></script>
{% endif %}










	<div id='floa223tads' style='width:100%;margin:auto; text-align:center;float:none;overflow:hidden; display:scroll;position:fixed; bottom:0%;z-index:99999'>
         <div><a id='close-floa223tads' onclick='document.getElementById(&apos;floa223tads&apos;).style.display = &apos;none&apos;;' style='cursor:pointer;'><img alt='close' src='https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEgcnXwkG0TO-CN2VaMsbPDQzrZoFIU_IUkMh4dGjdtmBtmpeL5V3NsGh5Eth2f3ll7aGzwZR4JTehJNNUTV42XatrXzMLUthvvt8LLn2_g_LMCSSiHXqZrmw5VbClxhCKCx8MGnzLsaW_U/s1600/btn_close.gif' title='close button'/></a></div>
    <div style='background-color:#fff; text-align:center;display:block;max-width:728px;height:auto;overflow:hidden;margin:auto'>	
<center style="height:50px; overflow:auto;" >
<script type="text/javascript">
	atOptions = {
		'key' : '43dedfae0a77f8561f6ba63ccfd0832d',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/43dedfae0a77f8561f6ba63ccfd0832d/invoke.js"></script>
<script type="text/javascript">
	atOptions = {
		'key' : '7eb90964184fc1cb015228c11a287253',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/7eb90964184fc1cb015228c11a287253/invoke.js"></script>
<script type="text/javascript">
	atOptions = {
		'key' : '9d0cc86edd7dece6c73031b15b738fd4',
		'format' : 'iframe',
		'height' : 600,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/9d0cc86edd7dece6c73031b15b738fd4/invoke.js"></script>
<script type="text/javascript">
	atOptions = {
		'key' : 'fcf0e804a35e713abd5e3dc9c006e824',
		'format' : 'iframe',
		'height' : 300,
		'width' : 160,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/fcf0e804a35e713abd5e3dc9c006e824/invoke.js"></script>
<script type="text/javascript">
	atOptions = {
		'key' : '40b2f907134f908eb18400d2dfd189ff',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/40b2f907134f908eb18400d2dfd189ff/invoke.js"></script>
<script type='text/javascript' src='//pl17040895.profitableratecpm.com/07/e7/2f/07e72f64ea84f44dc3ad3635a60e8155.js'></script>
<script type='text/javascript' src='//pl16713924.profitableratecpm.com/bf/85/dd/bf85dd300296866939487624d6e0010e.js'></script>
<script type="text/javascript">
	atOptions = {
		'key' : '8db66ea5bd74fc8d9af90c81e20ee24a',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/8db66ea5bd74fc8d9af90c81e20ee24a/invoke.js"></script>
</center></div></div>
	


<div class="spoo" id="external-labels" aria-label="Related Labels"></div>

<script>
  function rak_info_Load(json) {
    const labelsSet = new Set();
    const posts = json.feed.entry;
    if (!posts) return;

    posts.forEach(post => {
      if (post.category) {
        post.category.forEach(cat => {
          labelsSet.add(cat.term);
        });
      }
    });

    const labels = Array.from(labelsSet);
    const container = document.getElementById("external-labels");

    let html = '<section class="post-labels" aria-label="Label categories with image or video preview">';
    html += '<ul style="list-style:none;padding:0;margin:0;display:flex;flex-wrap:wrap;gap:15px;">';

    const imageUrl = "/foto.png";
    const videoUrl = "/video.mp4";

    let breadcrumbLd = {
      "@context": "https://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": []
    };

    labels.forEach((label, index) => {
      let staticPageUrl = "/indriani" + (index + 1).toString().padStart(2, '0') + "/";

      let mediaElement = (index % 2 === 0)
        ? `<img src="${imageUrl}" loading="lazy" width="100%" height="auto" style="border-radius:12px;" alt="${label}" title="${label}">`
        : `<video src="${videoUrl}" loading="lazy" width="100%" height="auto" style="border-radius:12px;" muted autoplay loop playsinline title="${label}"></video>`;

      html += `
        <li style="display:inline-block;">
          <a href="${staticPageUrl}" title="${label}" style="text-decoration:none;color:inherit;">
            <figure style="margin:0;text-align:center;">
              ${mediaElement}
              <figcaption style="margin-top:5px;font-size:14px;">${label}</figcaption>
            </figure>
          </a>
        </li>
      `;

      breadcrumbLd.itemListElement.push({
        "@type": "ListItem",
        "position": index + 1,
        "name": label,
        "item": location.origin + staticPageUrl
      });
    });

    html += '</ul></section>';
    container.innerHTML = html;

    // Tambahkan Breadcrumb structured data ke <head>
    const scriptLd = document.createElement("script");
    scriptLd.type = "application/ld+json";
    scriptLd.text = JSON.stringify(breadcrumbLd);
    document.head.appendChild(scriptLd);
  }
</script>

<script src="https://xcelebgram.my.id/feeds/posts/default?start-index=1&max-results=30&alt=json-in-script&callback=rak_info_Load"></script>
	
	
	
</body>
</html>

